{% extends 'clydefarm/base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>A little bit about us</h2><br>
      <h4>ClydeFarms is a company situated in Ibadan that specialises in poultry farming.</h4><br>
      <p>We can meet all your eggs and chicken needs. We also sell Turkeys and Geese.</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> Our mission is to rear good quality poultry animals under humane condition while providing food for the nation in the process..</h4><br>
      <p><strong>VISION:</strong> Our vision is to be one of the foremost poultry product provider in the nation.</p>
    </div>
  </div>
</div>

{% endblock %}