{% extends 'clydefarm/base.html' %}

{% block title %}
Products & Services
{% endblock %}

{% block body %}
    <!-- Container (Products and Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>PRODUCTS & SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>TURKEY</h4>
      <p>We sell matured turkeys.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>CHICKEN</h4>
      <p>We sell layers and broilers</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>GEESE</h4>
      <p>We have matured geese for sale</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>CHICKEN EGGS</h4>
      <p>We sell chicken eggs of different shapes and sizes.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>TURKEY EGGS</h4>
      <p>We sell turkey eggs of different sizes and shapes.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">CONSULTANCY</h4>
      <p>Wants to set up your own poultry business, give us a call or send a message</p>
    </div>
  </div>
</div>



{% endblock %}